@import url(//fonts.googleapis.com/css2?family=Montserrat);

body, html {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

.logga {
    height: 5vw; 
    width: 10%;
    background: url(Bilder/Aber\ cyklar\ logga\ test.PNG);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 0%;
}

.MainText {
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;
    letter-spacing: -0.061em;
    font-weight: 700;
    transform: translateY(-35vw);
}

.MainText h1 {
    font-size: 12vw;
    color: rgb(255, 255, 255);
    margin: 0%;
    line-height: 85%;
    text-shadow: 0 0 2vw #000000bb;
}

.MainText h2 {
    font-size: 6vw;
    color: rgb(255, 255, 255);
    margin: 0%;
    line-height: 85%;
    transform: translateY(-9vw);
    text-shadow: 0 0 2vw #000000bb;
}

.MainText p {
    font-size: 10.2vw;
    color: white;
    top: 25%;
    left: 50%;
    margin: 0%;
    line-height: 80%;
    text-shadow: 0 0 2vw #000000bb;
}

.MainBack {
    background: url(Bilder/MainBack.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    line-height: 2;
    height: 100%; 
    width: 100%;
}

.ProdBack {
    background-color: rgb(224, 224, 224);
    line-height: 2;
    height: 100%; 
}

.SubText {
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 2vW;
    color: rgb(0, 0, 0);
    background-color: white;
    box-shadow: 0 0 15px #000000bb;
    border-radius: 0.5vw;
    width: 26vw;
    height: 3vw;
    line-height: 1.5;
    transform: translateY(-32vw);
    left: 37vw;
    position: absolute;
}

.Knappcontainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2.5vw;
    padding: 0.3vw;
    position: absolute;
    top: 1.3vw;
    width: auto;
    margin-left: 25vw;
}

.Knapp {
    text-align: center;
    font-family: "Montserrat";
    font-size: 1.2vw;
    background-color:rgb(255, 255, 255);
    color: rgb(5, 39, 148);
    border-radius: 0.2vW;
    padding: 0.5vw;
    min-width: 10vw;
    box-shadow: 0 0 2vw #000000bb;
    text-decoration: none;
}

.Knapp:hover {
    scale: 110%;
    transition: 0.2s 0s;
}

.iconcontainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2vw;
    padding: 0.5vw;
    position: absolute;
    top: 1vw;
    margin-left: 91vw;
}

.icon img {
    background-color: white;
    width: 1.5vW;
    height: 1.5vw;
    padding: 0.5vw;
    box-shadow: 0 0 2vw #000000bb;
    border-radius: 0.2vW;;
}

.Osscontainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    position: absolute;
    top: 25%;
    min-width: 100%;
    max-width: 100%;
}

.Oss {
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 2vw;
    background-color:rgb(255, 255, 255);
    padding-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    height: 25vw;
    border-radius: 0.4vw;
    box-shadow: 0 0 15px #000000bb;
}

.Oss:hover {
    transform: translateY(1vw);
    transition: 0.5s 0s;
}

.Oss img {
    width: 16vW;
    height: 16vw;
    margin-bottom: 1vw;
}

.Prodcontainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    position: absolute;
    top: 25%;
    min-width: 100%;
    max-width: 100%;
}

.Prod {
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 2vw;
    background-color:rgb(255, 255, 255);
    padding-top: 1.5vw;
    margin-left: 3vw;
    margin-right: 3vw;
    height: 25vw;
    border-radius: 0.4vw;
    box-shadow: 0 0 15px #000000bb;
}

.Prod:hover {
    scale: 110%;
    transition: 0.5s 0s;
}

.Prod img {
    width: 16vW;
    height: 16vw;
    margin-bottom: 1vw;
}